{# Load the tag library #}
{% load bootstrap3 %}
{% load admin_urls %}
{% load static from staticfiles %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{#<link rel= 'stylesheet' href=" {% static 'styles.css' %}"/>#}
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                <li class="divider"></li>
                {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
            {% endif %}
            <li><a href="#">Home</a></li>
        </ul>
    </div>
</nav>
    <div class='container'>
        {% block content %}{% endblock %}
    </div>
</body>
