{% extends "manager/base.html" %}
{% block content %}
	<div class='center'>
	{% for job in jobs %}
    <h1><strong>Job <a href='job/{{ job.pk }}'>{{ job.pk }}</a> - </strong>{{ job.title }} - Due: {{job.date_due}}</h1>
		{{ job.desc }}
	{% endfor %}
	</div>
{% endblock %}

