{% extends 'manager/base.html' %}
{% block content %}
    <div class="center">
        <table class="table table-bordered">
            <tr>
                <td>
                    <h1>Job {{ details.pk }}</h1>
                    <p>Customer: {{ details.customer.name }}</p>
                </td>
                <td>
                    <h1>Title:</h1> <p>{{ details.title }}</p>
                </td>
                <td>
                    <h1>Due: </h1>
                    <p>{{ details.date_due }}</p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <h1>Description: </h1>
                    <p>{{ details.desc }}</p>
                </td>
            </tr>
{#            <p>Date Entered: {{ details.date_entered }}</p>#}
{#            <p>Price: ${{ details.price }}</p>#}
        </table>
    </div>
{% endblock %}

